<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.mbarrera.mibocata.businnes" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<permission android:name="com.mibocata.businnes.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.mibocata.businnes.permission.C2D_MESSAGE" />
	<application android:label="MiBocata Businnes">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCM78zUBOKc8CxXY6peBStEmb0LusUd0G4" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.mibocata.businnes" />
			</intent-filter>
		</receiver>
	</application>
</manifest>